.heading{
    display: block;
    position: absolute;
    color: rgb(255, 0, 136);
    top: 0%;
    left: 38%;
    font-size: 40pt;
}

.subheading{
    display: block;
    position: absolute;
    color: rgb(0, 0, 0);
    top: 30%;
    left: 45%;
    font-size: 17pt;
}

.DropDown{
    top: 50%;
    left: 50%;
}

.state{

    top: 7%;
    left: 27%;
    position: absolute;
    font-size: 40pt;
}

.cities{
    top: 17.5%;
    left: 15%;
    position: absolute;
    font-size: 20pt;
}
 
.entry{
    top: 43%;
    left: 5%;
    font-size: 20pt;
    position: absolute;
    font-size: 25pt;
}

.visits{
    top: 0px;
    left: 75%;
    position: absolute;
    font-size: 50pt;
}

.statePhoto{
    width: 300px;
    height: 300px;
    top: 7%;
    left: 45%;
    position: absolute;
}

.feedPhoto{
    top: 24%;
    left: 51.4%;
    position: absolute;
}

.Background {
    background-image: url(State.png);
    background-size: cover;
    position: relative;
    width: 1400px;
    height: 800px;
    overflow: scroll;
}

.Home_Background {
    background-image: url(homebackground2.png);
    background-size: cover;
    position: relative;
    width: 1400px;
    height: 800px;
    overflow: scroll;
}

.SavedReels_Button {
    top: 40%;
    left: 77%;
    position: absolute;
}

.Profile_Background {
    background-image: url(Profile.png);
    background-size: cover;
    position: relative;
    width: 1400px;
    height: 800px;
    overflow: scroll;
}

.Profile_Button {
    position: absolute;
    top: 5%;
    left: 4%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.NewReal_Button{
    position: absolute;
    top: 40%;
    left: 41.2%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.Saved_Background {
    background-image: url(savedReels.png);
    background-size: cover;
    position: relative;
    width: 1400px;
    height: 800px;
    overflow: scroll;
}

.ViewMap_Button{
    top: 69%;
    right: 17.5%;
    position: absolute;
}
