.heading{
    display: block;
    position: absolute;
    color: rgb(255, 0, 136);
    top: 0%;
    left: 38%;
    font-size: 40pt;
}

.subheading{
    display: block;
    position: absolute;
    color: rgb(0, 0, 0);
    top: 30%;
    left: 45%;
    font-size: 17pt;
}

.DropDown{
    top: 50%;
    left: 50%;
}

.state{
    top: 10%;
    left: 30%;
    position: absolute;
}

.cities{
    top: 23%;
    left: 20%;
    position: absolute;
}
 
.entry{
    top: 52%;
    left: 5%;
    position: absolute;
}

.visits{
    top: 8%;
    left: 75%;
    position: absolute;
}

.statePhoto{
    width: 300px;
    height: 300px;
    top: 7%;
    left: 45%;
    position: absolute;
}

.Background {
    background-image: url(State.png);
    background-size: cover;
    position: relative;
    width: 1500px;
    height: 900px;
    overflow: scroll;
}
.Home_Background {
    background-image: url(Home.png);
    background-size: cover;
    position: relative;
    width: 1500px;
    height: 900px;
    overflow: scroll;
}